h1 {
	margin-bottom: 20px;
}

.srh {
	margin: 0 auto;
	width: 80%;
}

.input-group {
	 width: 80%;
	 margin: 0 auto;
}

.input-group-btn {
	text-align: left;
}

.result {
	margin-top: 45px;
}

.buttons {
	margin-top: 30px;
}

.buttons .wiki-search {
	color: #fff;
}

.buttons .wiki-random {
	color: #fff;
}

.buttons a {
	margin-right: 20px;
	background: #4e5d6c;
}

.buttons a:hover {
	background: #485563; 
}
