.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 50%;
  margin-top: 15px;
}

  @media only screen and (max-width: 900px){
    .search {
      width: 70%;
    }
  }

  @media only screen and (max-width: 600px){
    .search {
      width: 90%;
    }
  }


.buttons {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.btn-search,
.btn-random {
  color: #fff;
  background: #4e5d6c;
}

.btn-search:hover,
.btn-random:hover {
  color: #ccc;
}

.btn:active,
.btn:active {
  outline: none;
}

.btn-search {
  margin-right: 30px;
}
